<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body onload="startTime()">

<div class="clockTime" id= "clock"></div>

<div id="wordCloud"></div>

<style>
  .clockTime {
    color: #ff85a2;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 35px
  }
  body {
    background-image: url("bg.jpg")}
  </style>

<script type="text/javascript">
  function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var month = today.getMonth();
    var day = today.getDay();
    var weekday = ""
    switch (today.getDay()) {
      case 0:
        weekday = "Sunday";
        break;
      case 1:
        weekday = "Monday";
        break;
      case 2:
        weekday = "Tuesday";
        break;
      case 3:
        weekday = "Wednesday";
        break;
      case 4:
        weekday = "Thursday";
        break;
      case 5:
        weekday = "Friday";
        break;
      case 6:
        weekday = "Saturday";
    }
    m = checkTime(m);
    document.getElementById('clock').innerHTML =
    "It is " + "\n" + h % 12 + ":" + m + " on " + weekday + " " + month + "/" + day;
    var t = setTimeout(startTime, 500);
  }
  function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
  }
</script>

<script type="text/javascript">
  var words = {{ data|tojson }}
</script>

<script type="text/javascript">
  function normalize(wordList) {
    var max = Number.MIN_SAFE_INTEGER;
    var optimalMax = 50;
    var threshold = 10;

    for (var i = 0; i < words.length; i++) {
      if (wordList[i].value > max) {
        max = wordList[i].value;
      }
    }

    for (var i = 0; i < words.length; i++) {
      wordList[i].value = parseInt(wordList[i].value * (optimalMax / max))
    }
    return wordList
  }
  
  words = normalize(words);
  words.sort(function(a,b) {
    return -1 * (a.value - b.value)
  });

  var cloud = document.getElementById("wordCloud");
  cloud.style.position = "relative";

  var startPoint = {
    x: cloud.offsetWidth / 2,
    y: cloud.offsetHeight / 2 + 400
  };

  var wordsDown = [];

  function createWordObject(wordCurr) {
    var nodeContainer = document.createElement("div");
    var nodeLink = document.createElement("a");
    var nodeText = document.createTextNode(wordCurr.word);
    nodeContainer.appendChild(nodeLink);
    nodeContainer.style.position = "absolute";
    nodeLink.appendChild(nodeText);
    nodeLink.title = wordCurr.word;
    nodeLink.href = wordCurr.url;
    nodeLink.target ="_blank";
    var strSize = wordCurr.value.toString() + 'px';
    nodeLink.style.fontSize = strSize;
    
    return nodeContainer;
  }

  function placeWord(word, x, y) {
    cloud.appendChild(word);
    word.style.left = x - word.offsetWidth/2 + "px";
    word.style.top = y - word.offsetHeight/2 + "px";
    wordsDown.push(word.getBoundingClientRect());
  }

  function spiral(i, callback) {
    angle = i;
    x = parseInt((1 + angle) * 2*Math.cos(angle));
    y = parseInt((1 + angle) * Math.sin(angle));
    return callback ? callback() : null;
  }

  function intersect(word, x, y) {
    cloud.appendChild(word);    
    
    word.style.left = x - word.offsetWidth/2 + "px";
    word.style.top = y - word.offsetHeight/2 + "px";
    
    var currentWord = word.getBoundingClientRect();
    
    cloud.removeChild(word);
    
    for(var i = 0; i < wordsDown.length; i+=1){
        var comparisonWord = wordsDown[i];
        
        if(!(currentWord.right < comparisonWord.left||
             currentWord.left > comparisonWord.right ||
             currentWord.bottom < comparisonWord.top ||
             currentWord.top > comparisonWord.bottom)){
            
            return true;
        }
    }
    return false;
  }

  (function placeWords() {
      for (var i = 0; i < words.length; i++) {
          var word = createWordObject(words[i]);
          for (var j = 0; j < 360*4; j++) {
              if (spiral(j, function() {
                      if (!intersect(word, startPoint.x + x, startPoint.y + y)) {
                          placeWord(word, startPoint.x + x, startPoint.y + y);
                          return true;
                      }
                  })) {
                  break;
              }
          }
      }
  })();

colorLinks();

function colorLinks(hex)
{
    colors = ["#ff85a2", "#39ffd0", "#ffa585", "#85ffa5", "#a585ff", "#ffe285"];
    var links = document.getElementsByTagName("a");
    for(var i=0;i<links.length;i++)
    {
        if(links[i].href)
        {
            links[i].style.color = colors[i % colors.length];  
        }
    }  
}
  
  // var groupText = document.createElement("div");
/*   for (var i = 0; i < words.length; i++) {
    placeWord(createWordObject(words[i]), 100,100);
  } */

  // document.getElementById("wordCloud").appendChild(groupText);
</script>

</body>
</html>